@model MediaWeb.Models.Film.FilmDetailViewModel

<h1>@Model.Title</h1>

<div>
    <bold>Link:</bold>
    <a href="@Model.Url">@Model.Url</a>
    <br />
    <bold>Producer</bold>
    <span>
        @Model.Producer
    </span>
    <br />
    <bold>Release date</bold>
    <span>
        @Model.Producer
    </span>
</div>

